.error-list{
  margin-top: 10px;
  margin-bottom: 10px;
}

.error_item, .no-games-error{
  width:max-content;
  color: rgb(161, 69, 69);
  background-color: white;
  padding: 5px;
  border: solid 1px grey;
  margin-top: 3px; 
  border-radius: 3px;

  animation-name: fadein;
  animation-duration: 0.3s;
}

@keyframes fadein {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.no-games-error{
  margin-left: auto;
  margin-right: auto;
}