.error-list{
  margin-top: 10px;
  margin-bottom: 10px;
}

.error_item{
  width:max-content;
  color: rgb(161, 69, 69);
  background-color: white;
  padding: 5px;
  border: solid 1px grey;
  margin-top: 3px; 
  border-radius: 3px;
}