.form-container{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  align-items: center;


  margin: auto;
  margin-top: 30px;
  width: 350px;
  border: 1px solid black;
  padding: 10px;
}

.form-container>form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.text-input{
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
}

.form-title{
  font-weight: bold;
  font-size: large;
  background-color: rgb(56, 49, 94);
  color: white;
  padding: 10px;
  text-align: center;
  width: 95%;

  margin-bottom: 20px;
  border-radius: 3px;
}

.submit-button{
  background-color:cornflowerblue;
  color: white;
  padding: 10px;
  border-radius: 4px;

}

.submit-button:hover {
  background-color:dodgerblue;
}

.game-form{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.game-form > * {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px rgb(190, 190, 190) solid;
  width: 70%;  
}

.game-form-top{
  text-align: center;
}

.game-form > textarea, .game-form > input{
  min-width: 500px;
  background-color: white;
  border-color:rgb(190, 190, 190);
  border-width: 1px;
}

.game-form label {
  padding: 10px;
  padding-top: 20px;
  color: grey;
  font-weight: bolder;
}

.game-form > textarea {
  height: 50px;
  width: 30px
}

.game-form .range-button {
  margin-left: 3px;
}


.game-form  #game-photo-input {
  display: none;
}

.game-form  .game-photo-input-label, .range-button{
  margin: 30px;
  background-color: white;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.game-form  .game-photo-input-label:hover, .range-button:hover {
  background-color: rgb(245, 245, 245);
}

.category-button{
  background-color: white;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.category-button:hover{
  background-color: rgb(245, 245, 245);
}

ul .active{
  color: white;
  background-color: rgb(0, 163, 35);
}
ul .active:hover{
  background-color: rgb(0, 114, 25);
}

.preview-image {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;

}

.add-button, .remove-button{
  padding: 3px;
  background-color: white;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 5px;
  font-weight: bolder;
}

.add-button:hover, .remove-button:hover{
background-color: rgb(245, 245, 245);
}


.unknown-placeholder{
  color: rgb(177, 177, 177);
  font-style: italic;
}

.game-form .extra-info {
  margin-left: 30px;
  color:rgb(177,177,177);
  font-style: italic;
  font-size: small;
  font-weight: normal;
}