.body{
  margin: 40px;
  background-color: white;
  min-width: 400px;
}

.details-box{
  background-color: black;
  padding: 20px;
  color: white;
  display: flex;
  width: auto;
  height: auto;
}

.details-box > img{
  max-height: 300px;
  max-width: 300px;
  height: max-content;
  width: max-content;
}

.details-box > div{
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}


.basic-info{
  margin-bottom: 20px;
}

.basic-info .title {
  display: block;
  font-size: 30px;
  font-weight: bold;
}
.basic-info .year {
  display: inline;
  font-size: small;
  font-weight: bold;
}
.basic-info .tagLine {
  margin-top: 5px;
  font-size: small;
}

.details-box .metrics {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px rgba(255, 255, 255, .3)
}

.details-box .metrics :not(:last-child){
  border-right: solid 1px rgba(255, 255, 255, .3);
}

.details-box .metrics  *{
  padding: 10px;
  width: 100%;
}

.details-box .credits > div {
  padding-top: 5px;
  font-size: small;
  line-height: 1.2;
}

.review-icon{
  display: grid;
  min-width: 50px;
  max-width: 50px;
}

.review-icon *{
  grid-area: 1/1/2/2;
  width: 100%;
}

.review-icon div{
  margin-top: 18px;
  font-size: 20px;
  text-shadow: 2px 2px rgba(0, 0, 0, .1);
  text-align: center;
  color: white;
}

.title-block {
  display: flex;
  align-items: center;
}

.title {
  padding-left: 10px;
}

.body-content{
  padding: 20px
}

.content-selection a{
  font-size: small;
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 4px;
  border-bottom: 2px solid lightgray;
}
.content-selection a:hover{
  color:royalblue;
}

.content-selection .active{
  border-color:orangered;
  border-width: 4px;
}

.content-selection {
  display: flex;
  justify-content: space-around;
}

.rating-launcher {
  font-size: smaller;
  padding-top: 30px;
  text-align: left;
  text-decoration: underline;
}