.header{
  background-color:  rgb(56, 49, 94);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  padding: 10px

}

.header-spacer{
  top: 0;
  left: 0;
  right: 0;
  margin: 50px
}
.header{
  display: flex;
  justify-content: space-between;
  min-width: 200px
}

.header button{
  background-color: transparent;
  border-style: none;
  color: white;
  padding: 5px;
  border-radius: 2px;

}

.header button:hover {
  background-color: rgb(34, 30, 59);
}

.search-bar-results {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  text-decoration: none;
  position: absolute;
  margin-top: 32px;
  width: 143px;
  margin-right: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.search-bar-results > li {
  padding: 4px;

}

.search-bar-results > li:nth-child(even){
  background-color: rgb(230, 230, 230);
  border-radius: 3px;
}

.search-bar-results > li > a {
  padding: 3px;
}

.no-results{
  color: rgb(180, 180, 180);
  font-style: italic;
}


.search-background{
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 2;
}